<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <!--服务默认端口-->
    <add key="port" value="61001,61002,61003,61004,8090,8091" />
    <!--定时检查更新-->
    <add key="autocheckupdateinterval" value="5" />
    <!--接口调用汇总上传定时-->
    <add key="InvokeSumInterval" value="30" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="WatchService" value="false" />
    <!--启用升级服务-->
    <add key="EnableUpdateService" value="true" />
  </appSettings>
  <runtime>
    <legacyUnhandledExceptionPolicy enabled="true" />
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>